* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

/* BALANCE SECTION */
.balance-row {
  margin: 20px;
}

.balance-col {
  /* width: 500px; */
  height: auto;
}

/* HISOTRY SECTION */

/*FORM SECTION */
.form-row {
  margin: 20px;
}
